@import '../base.scss';
@import '../var.scss';
@import '../bg.scss';

:host {
  display: block;
}

/**
 * @module
 *
 * breadcrumb Navigation
 */
.bcrumbs {
  display: block; /* inline-block führt zu einem margin-bottom, der nicht zu beseitigen ist */
  line-height: $head-height;
  height: $head-height;
  overflow: hidden;
  user-select: none;
}
