@import '../base.scss';
@import '../var.scss';
@import '../bg.scss';

:host {
  display: inline-block;

  &:first-child {
    padding-left: $content-padding-large;
  }
}

.bcrumb {
  display: inline-block;
  padding-right: $head-height / 2;
  padding-left: $head-height;
  transition: $slow;
  position: relative;

  background: var(--ion-color-base);
  color: var(--ion-color-contrast);
  cursor: pointer;

  /*adding the arrows for the breadcrumbs using rotated pseudo elements */
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -1 * ( $head-height / 2);
    width: $head-height;
    height: $head-height;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background-color: var(--ion-color-base);
    color: var(--ion-color-shade);
    box-shadow:
      2px -2px 0 2px rgba(0, 0, 0, 0.4),
      3px -3px 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 0 5px 0 50px;
    transition: $slow;
  }

  &:hover:after,
  &:hover {
    background-color: var(--ion-color-shade);
  }

  &.active,
  &.active:after {
    background-color: var(--ion-color-shade);
  }

  &.disabled,
  &.disabled:after {
    color: rgba(var(--ion-color-contrast-rgb), .6);
    background-color: var(--ion-color-tint);
    cursor: not-allowed;
  }
}

