@import '../base.scss';
@import '../var.scss';
@import '../bg.scss';

:host {
  display: inline-block;

  &:first-child {
    padding-left: $content-padding-large;
  }
  /*we dont need a border on the arrow after the last link*/
/*  &:last-child:after {
    box-shadow: none;
  }*/
}

.bcrumb {
  display: inline-block;
  padding-right: $head-height / 2;
  padding-left: $head-height;
  transition: $slow;
  /*padding: 0 8px 0 24px;*/
  position: relative;
  /*background-color: $pc-dark-bg;*/
  color: $pc-dark-c;

  /*background-color: $pc-dark-bg;*/

  &[onclick] {
    text-decoration: none;
  }

  &[aria-selected]:after,
  &:hover:after,
  &[aria-selected],
  &:hover {
    /*background-color: $pc-dark-bg;*/
    color: #ff0000;
    /*color: white;*/
  }

  &[aria-disabled]:after,
  &[aria-disabled] {
    /*background-color: $pc-dark-bg;*/
    color: #ccc;
    /*color: white;*/
  }



  /*adding the arrows for the breadcrumbs using rotated pseudo elements */
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -1 * ( $head-height / 2);
    width: $head-height;
    height: $head-height;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    /*background-color: $pc-dark-bg;*/
    color: $pc-c;
    box-shadow:
      2px -2px 0 2px rgba(0, 0, 0, 0.4),
      3px -3px 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 0 5px 0 50px;
    transition: $slow;
  }
}
