
/**
 * Farbschemata
 */
.bg-white {
	background-color: $white;
	color: $black;
}
.bg-lightgray {
	background-color: $lightgray;
	color: $black;
}
.bg-gray {
	background-color: $gray;
	color: $black;
}
.bg-darkgray {
	background-color: $darkgray;
	color: $white;
}
.bg-green {
	background-color: $green;
	color: $black;
}
.bg-darkgreen {
	background-color: $darkgreen;
	color: $white;
}
.bg-lightblue {
	background-color: $lightblue;
	color: $black;
}
.bg-blue {
	background-color: $blue;
	color: $black;
}
.darkblue {
	color: $darkblue;
}
.bg-darkblue {
	background-color: $darkblue;
	color: $white;
}
.bg-red {
	background-color: $red;
	color: $white;
}
.bg-lightyellow {
	background-color: $lightyellow;
	color: $black;
}
.bg-yellow {
	background-color: $yellow;
	color: $black;
}
.bg-darkyellow {
	background-color: $darkyellow;
	color: $black;
}
/* Spezielle Farben */
.bg-twitter {
	background: #55acee;
}
.bg-facebook {
	background: #3B5998;
}
.bg-whatsapp {
	background: #34af23;
}
.bg-linkedin {
	background: #4875B4;
}
.bg-signal {
	background: #2090ea;
}
.bg-wechat {
	background: #8ad129;
}
